<center>
<h1>Log in</h1>
<%= form_tag sessions_path do %>
	<table>
		<tr>
			<td><%= label_tag "Username : " %></td>
			<td align="right"><%= text_field_tag :username %></td>
		</tr>
		<tr>
			<td><%= label_tag "Password : " %></td>			
			<td><%= password_field_tag :password %></td>
		</tr>			
		<tr>
			<td colspan=2 align="center"><%= submit_tag "Log in", :class => 'btn btn-primary' %></td>
		</tr>
	</table>	
<% end %>
</center>