<% for comment in @comments %>
	<table class="table table-striped">
		<tr>
			<td><b><%= comment.commenter %></b>  <%= comment.body %></td>
			<% if !comment.deleted_at.nil? %>
				<td width="3%">
					<i>deleted</i>
				</td>		
			<% end %>
			<td width="3%">
				<%= link_to 'Show', statusupdate_comment_path(@statusupdate, comment), :class => 'btn btn-mini btn-mini' %>
			</td>		
			<td width="3%">
				<% if can? :update, comment %>
					<% if comment.deleted_at == nil %>
						<%= link_to 'Edit', edit_statusupdate_comment_path(@statusupdate, comment), :class => 'btn btn-mini btn-mini' %>
					<% end %>
				<% end %>
			</td>
			<td width="3%">
				<% if can? :destroy, comment %>
					<% if comment.deleted_at == nil %>
						<%= link_to 'Delete' , [@statusupdate, comment], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %>
					<% end %>
				<% end %>
			</td>
		</tr>	
	</table>
<% end %>
