<%= form_for @statusupdate do |su| %>
	<% if @statusupdate.errors.any? %>
		<b>Errors : </b><br>
		<ul>
			<% @statusupdate.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>	
		</ul>
	<% end %>
	<table class="table table-striped">
		<tr>
			<td rowspan=3>
				<div class="center">
				<%= image_tag @account.image_url(:thumb) if @account.image? %>
				</div>
			</td>			
		</tr>
			<td><%= su.text_area :content,:size => "150x2", :placeholder => "What's on your mind now?" %></td>
		</tr>
		<tr>
			<td><%= su.submit "Update Status", :class => 'btn btn-primary' %></td>			
		</tr>
	</table>
<% end %>
<hr>