<%= paginate @statusupdates %>
<%# @statusupdates.sort_by{|e| -e[:id]}.each do |statusupdate| %>
<% for statusupdate in @statusupdates %>
	<table>
		<tr>
			<td>
				<div class="center">
					<div class="hidden">
						<%= @ava = Account.find_by(username: statusupdate.username) %>
					</div>					
					<%= image_tag @ava.image_url(:thumb) if @ava.try(:image?) %>
				</div>
			</td>
			<td>
				&nbsp;&nbsp;&nbsp;
			</td>
			<td>
				<b><%= statusupdate.username %></b> <br>
				<%= statusupdate.content %> <br>
				<small>
					<i><%= link_to statusupdate.comments.all.count.to_s << " comments",  statusupdate_path(statusupdate) %></i> <br>
					<%= statusupdate.updatetime %> <br>
						<% if can? :update, statusupdate %>
							<% if statusupdate.deleted_at == nil %>
								<%= link_to "Edit", edit_statusupdate_path(statusupdate), :class => 'btn btn-mini'%>
							<% end %>
						<% end %>
						<% if can? :destroy, statusupdate %>
							<% if statusupdate.deleted_at == nil %>
								<%= link_to "Delete", statusupdate, :confirm => "Are you sure?", :method => :delete , :class => 'btn btn-mini btn-danger' %>
							<% end %>
						<% end %>						
						<% if !statusupdate.deleted_at.nil? %>
							<i>deleted</i>
						<% end %>					
				</small>
			</td>
		</tr>
	</table>
	<hr>
<% end %>

<%= paginate @statusupdates %>
