<center><b>You are logged as <%= @account.username %></b></center>
<hr>

<h1><%= @statusupdate.username %> Status</h1>
<p>
	<b>Status</b> : <br>
	<%= @statusupdate.content %> <br>
	<small><small><%= @statusupdate.updatetime %></small></small>
</p>

<b>Comments</b><br>
<%= render "comments/comment" %>

<b>Add a comment:</b>
<%= render "comments/form" %>
<% if @statusupdate.username == @account.username %>
	<% if cannot? :update, @statusupdate %>
		<%= link_to 'Edit Status', edit_statusupdate_path(@statusupdate) %>
	<% end %>	
<% end %>
<br>
<%= link_to 'Back to Status Updates', statusupdates_path %> 