<b><%= @statusupdate.username %></b> <br>
<p>
	<%= @statusupdate.content %> <br>
	<small><small><%= @statusupdate.updatetime %></small></small>
</p>
<b>Comments</b><br>
<%= paginate @comments %><br>
<%= render "comments/comment" %>
<%= paginate @comments %>
<b>Add a comment:</b>
<%= render "comments/form" %>

<% if can? :update, @statusupdate %>
	<% if @statusupdate.deleted_at == nil %>
		<%= link_to 'Edit Status', edit_statusupdate_path(@statusupdate), :class => 'btn btn-mini'%>
	<% end %>
<% end %>	

<%= link_to 'Back to Status Updates', statusupdates_path, :class => 'btn btn-mini'%> 
<% if @statusupdate.deleted_at == nil %>
	<%= link_to 'View All Comments', statusupdate_comments_path(@statusupdate), :class => 'btn btn-mini'%> 
<% end %>
