<%= link_to "Home", statusupdates_path, :class => 'brand' %>
<ul class="nav">
  <% if session[:account_id] != nil %>
    <li>
    <%= link_to('Edit account', edit_account_path(@account)) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Sign up', new_account_path)  %>
    </li>
  <% end %>
  <% if session[:account_id] != nil %>
    <li>
    <%= link_to('Logout', logout_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_session_path)  %>
    </li>
  <% end %>  
</ul>