<h2>Change your Avatar</h2>

<%= simple_form_for @current_user, :html => {:multipart => true} do |f| %>
	<%= f.input :username, :label => 'Username', :readonly => true %>
	<%= f.input :image, :label => 'Chosse your avatar' %>
	<%= f.input :remote_image_url, :label => 'or Image url' %>
	<%= f.submit "Change avatar", :class => 'btn btn-primary' %>
<% end %>
